{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block head%}
<div class="auth-container">
  <h1 class="project-title">AvaliaMente</h1>
  <div class="auth-form-container">
    <h2>Bem-vindo!</h2>
    <form class="auth-form" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="ui blue button" type="submit" id="submit">Login</button>
    </form>
    <p class="login-link-text">Não possui uma conta?<a href="/usuario/cadastro"> Crie agora.</a></p>
  </div>
</div>
{% endblock %}
